.menu .pasta-menu{
  position:absolute;
  width:740px;
  margin-left:0.8em;
}
.menu .first-row{
  margin-top:100px;
}
.menu .second-row{
  margin-top:220px;
}
.menu .third-row{
  margin-top:340px;
}
.menu .fourth-row{
  margin-top: 460px;
}
.pasta-menu .classWithPad{
  background: linear-gradient(to bottom, white, #ECECEC);
  height:110px;
  margin:-10px;
  border:1px solid lightgray;
  border-radius: 5px;
  color:gray;
  font-weight: bold;
  padding-top:35px;
}
