.selector-for-some-widget {
  box-sizing: content-box;
}
.resize-img{
  width:300px;
  height: 100px;
}
.nav-bar{
  position: relative;
  border-bottom:2px solid #d3d3d3 ;
}
.nav-bar-buttons{
  color:#f03030;
  margin-top:40px;
  font-weight: bold;
  font-size: 12px;
}
.select-mode,.button-deocrator{
  border-radius: 15px;
  color:#E33E40;
  font-weight: bold;
  margin-right:20px;
  background-color:	#f0f0f0;
  border:none;
  border-color:#ffffff;
}
.select-mode{
    padding:4px 20px;
}
.button-deocrator{
  width:169px;
  height: 29px;
}
.first-part,.second-part{
  height:870px;
  background-color: #f0f0f0;
}
.first-part{
  border-right: 2px solid #d3d3d3;
}
.date-hour,.cachier-customer-info{
  margin:8px 0px 0px 20px;
}
.date-hour p{
  font-size:11px;
  color:gray;
}
.cachier-customer-info p{
  font-weight: bold;
}
.cachier-customer-info span{
  font-weight: bolder;
  font-size: 25px;
}
.cachier-customer-info button{
  color:black;
  margin:15px 0px 0px;
  background-color: white;
  border-style: groove;
  font-weight: bold;
  border-radius: 18px;
  padding:5px 45px;
}
.order-info{
  margin-left:0.2px;
  width:540px;
  height:30px;
  background-color: white;
  font-weight: bold;
}
.order-info :nth-child(1){
  margin-left:31px;
  margin-right:100px;
}
.order-info :nth-child(2){
  margin-right:100px;
}
.order-info :nth-child(3){
  margin-right:30px;
}
.order-info :nth-child(4){
  margin-right: 40px;
}
.table-order-info{
  font-size:13px;
  font-weight: bold;
  color:#787878;
  margin:10px;
  text-align: center;
}
.add-items{
  width:540px;
  height:500px;
  border-bottom: 2px solid #d3d3d3 ;
  background:linear-gradient(to bottom,white,#f0f0f0);
}
.btn-circle {
    width: 45px;
    height: 45px;
    padding:1px 0px;
    border-radius: 25px;
    text-align: center;
    color:#d84848;
    margin:10px;
    background-color: #f5f4f4;
}
.bill{
  margin-top:300px;
}
.bill .btn-circle,.options .btn-circle{
  padding:1px 0px;
  border-radius: 50px;
  text-align: center;
  margin:10px;
  font-weight: bold;
}
.bill .btn-circle{
  width: 100px;
  height: 100px;
  color:#f5f515;
  background-color: #f5f4f4;
}
.bill .btn-circle span{
  display:block;
  margin-top:10px;
  font-size:12px;
  color:#e79811;
}
.bill .bill-info{
  color:gray;
  font-size: 12px;
  line-height: 5px;
  margin:40px 0px;
}
.cach-info{
  margin:35px 0px;
  line-height:20px;
  font-weight:bold;
}
.cach-info :nth-child(1){
  color: #E33E40;
  font-size: 29px;
}
.options .btn-circle{
  width: 90px;
  height: 90px;
  color:#E33E40;
  border:2px solid #d3d3d3;
}
.options span{
  display:block;
  line-height:15px;
  font-size: 11px;
}
.options .dollar{
  background-color: #E33E40;
  color:white;
}
.options .dollar span{
  font-size: 15px;
  margin-top:10px;

}
.second-part{
  width:786px;
}
.search-bar{
  background:url('images/search-icon.png')  left no-repeat;
  background-position: left 9px top 9px;
  margin:10px;
  width:760px;
  background-color: white;
  border:2px solid #ecf0f1;
  border-radius: 20px;
  padding: 5px;
  }
::placeholder{
  color:#bdc3c7;
}
.menu{
  position:relative;
  background: white;
  margin:10px;
  height:780px;
  width:760px;
  border-radius:18px;
}
.menu-buttons{
position:absolute;
width:760px;
height:90px;
margin-left:0.01em;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
}
.menu .btn{
  width:153px;
  height:90px;
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #F5F5F5;
  border:2px solid #F0F0F0;
}
.menu-buttons .food-btn{
  background-color:#f03030;
  color:white;
  font-weight:bold;
  border-bottom:none;
}
.menu-buttons :nth-child(n+2){
  color:#de5255;
  font-weight: bold;
}
.menu-buttons .triangle-up {
  position: absolute;
  width: 0;
  height: 0;
  margin:12px 50px 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
.menu .food-menu{
  position:absolute;
  width:760px;
  height:60px;
  margin-top:90.2px;
  margin-left:0.01em;
  border-radius: 0px;
  background-color: white;
  border-bottom: 3px solid #F0F0F0;
}
.food-menu img{
  margin:15px 40px;
}
.food-menu .col p,i{
  margin-top:15px;
  margin-left:40px;
  font-weight: bold;
  color:#a8a8a8;
}
.food-menu :nth-child(2) p{
  color:#de5255;
}
.food-menu :nth-child(2)::after{
  content: "";
  color:#de5255;
  display: block;
  width: 130%;
  margin-left: -10px;
  border-bottom: 5px solid #de5255;
}
.menu .pasta-menu{
  position:absolute;
  width:740px;
  margin-left:0.8em;
}
.menu .first-row{
  margin-top:180px;
}
.menu .second-row{
  margin-top:300px;
}
.menu .third-row{
  margin-top:420px;
}
.menu .fourth-row{
  margin-top: 540px;
}
.pasta-menu .classWithPad{
  background: linear-gradient(to bottom, white, #ECECEC);
  height:110px;
  margin:-10px;
  border:1px solid lightgray;
  border-radius: 5px;
  color:gray;
  font-weight: bold;
  padding-top:35px;
}
